@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-playfair-display);
  --font-cormorant: var(--font-cormorant-garamond);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hwb(0 0% 100%);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* @keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-slide {
  animation: slide 20s linear infinite;
} */

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* move metade: por isso duplicamos o conteúdo */
}

/* Aplique a animação na track (o elemento que contém as imagens duplicadas) */
.animate-slide {
  display: flex;
  align-items: center;
  gap: 1rem; /* optional - espaçamento entre imagens */
  animation: slide 20s;
  will-change: transform;
}