@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  max-width: 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-playfair-display);
  --font-cormorant: var(--font-cormorant-garamond);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hwb(0 0% 100%);
    --foreground: #ededed;
  }
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* move metade: por isso duplicamos o conteúdo */
}

.float-slow {
  animation: float 6s ease-in-out infinite;
}

.float-medium {
  animation: float 4.5s ease-in-out infinite;
}

.float-fast {
  animation: float 3.5s ease-in-out infinite;
}

/* Aplique a animação na track (o elemento que contém as imagens duplicadas) */
.animate-slide {
  display: flex;
  align-items: center;
  gap: 1rem; /* optional - espaçamento entre imagens */
  animation: slide 20s;
  will-change: transform;
}

.glow-soft {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.7),
               0 0 14px rgba(255, 120, 150, 0.5),
               0 0 20px rgba(255, 80, 120, 0.3);
}

.img-glow {
  box-shadow: 0 0 15px rgba(255, 120, 150, 0.4),
              0 0 25px rgba(255, 80, 120, 0.3);
}

.img-glow:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(255, 120, 150, 0.7),
              0 0 35px rgba(255, 80, 120, 0.6);
}

.scroll-touch {
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.scroll-item {
  scroll-snap-align: start;
}